*{
    font-family: Comfortaa, serif;

}
.product-container{
    padding-top: 20vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
}
.preloader-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.product{
    margin: 1vh;
    border-radius: 4px;
    box-shadow: 1px 3px 4px gray;
    aspect-ratio: 1.3;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.product-image{
    aspect-ratio: 5/6;
    width: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1
}

.product-price{
    line-height: 2rem;
    text-align: center;
    font-family: Comfortaa, serif;
}
.preloader{
    color: #4ba24b;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 0.1rem;
    display: none;
    align-self: center;
    justify-self: center;
}

.product:hover{
    box-shadow: 4px 5px 5px gray;
    transition: 0.5s ease-in-out;
}
