*{
    background-color: #B4E197;
}

/*КНОПКИ*/

.email-input{
    display: inline-block;
    color: white;
    font-size: 160%;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid white;
    padding: 6px 20px;
    overflow: hidden;
    font-family: "Arial Black", serif;
}

.password-input{
    display: inline-block;
    color: white;
    font-size: 160%;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid white;
    padding: 6px 20px;
    overflow: hidden;
    font-family: "Arial Black", serif;
}

.submit-login{
    display: inline-block;
    color: white;
    font-size: 160%;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid white;
    padding: 6px 20px;
    overflow: hidden;
    font-family: "Arial Black", serif;
}

.redirect-to-main{
    display: inline-block;
    color: white;
    font-size: 160%;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid white;
    padding: 6px 20px;
    overflow: hidden;
    font-family: "Arial Black", serif;
}


/*КОНТЕЙНЕРЫ*/

.redirect-to-main-container{
    font-size: 210%;
    margin-left: 23.5em;
}

.registration-container{
    margin: 0 auto;
    width: 50%;
    padding: 20em;
    text-align: center;
}


/*ХОВЕРЫ*/

.redirect-to-main:hover{
    background-color: #90B478;
    box-shadow: 3px 3px black;
}

#email:hover{
    background-color: #90B478;
    box-shadow: 3px 3px black;
}

#password:hover{
    background-color: #90B478;
    box-shadow: 3px 3px black;
}

#submit:hover{
    background-color: #90B478;
    box-shadow: 3px 3px black;
}

/*ТАБЛИЦА*/

#grid-table {
    min-width: 60vw;
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    grid-template-columns:
    minmax(60px, 1fr)
    minmax(60px, 1.67fr)
    minmax(60px, 1.67fr);
}

thead, tbody, .grid-table-tr {
    display: contents;
}

.grid-table-th, .grid-table-td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-table-th {
    top: 0;
    background: #4E944F;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

/* ДРУГИЕ РАЗРЕШЕНИЯ */

@media(max-width: 414px){
    .registration-container{
        margin-top: 20em;
        width: 70%;
        padding: 10px;
    }

    .email-input, .password-input{
        height: 10vw;
        width: 50vw;
    }
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}