@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body{
    overflow-x: hidden;
}

h1 {
    padding-left: 1em;
    text-align: left;
    overflow: hidden;
    font-family: Dialog, sans-serif;
    font-size: 2em;
    color: white;
    white-space: nowrap;
}

main{
    padding-top: 10rem;
    width: 100vw;
    height: 100vw;
    background-image: url("images/background-img.jpg");

}


nav{
    padding-right: 1em;
    width: 100%;
    height: 10em;
    align-items: center;
    background-color: #4CBB17;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}

.nav-bar{
    margin-left: 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vw;
}

.catalog{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.catalog-item{
    в
}

.turtle{
    box-shadow: 10px 10px 10px black;
}
.slogan{
    text-align: left;
    color: black;
    padding-left: 1rem;
    padding-top: 10rem;
    flex-direction: inherit;
    font-family: 'Comfortaa', sans-serif;
}

h2{
    font-size: 3em;
    padding-left: 2vw;
    word-spacing: 0.3vw;
    letter-spacing: 0.3vw;
    text-decoration: underline;
}

.text-under-h2{
    padding-top: 1rem;
    line-height: 1.3em;
    text-align: left;
    text-indent: 2em;
    text-transform: lowercase;
}

.statham{
    position: absolute;
    z-index: 0;
    max-width: 100%;
    height: 50vw;
    width: 100vw;
    float: right;
    justify-content: right;
    display: flex;


}

.nav-list{
    text-align: right;
    white-space: nowrap;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2em;
    display: grid;
    place-content: center;
    margin-right: 5px;

}

.table-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    overflow-x: auto;

}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}

.responsive-table th, .responsive-table td {
    padding: 10px;
    border: 1px solid #000;
}

.responsive-table th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

.odd-row {
    background-color: #f2f2f2;
}

.even-row {
    background-color: #e0e0e0;
}


@media (max-width: 1280px) {
    nav {
        height: 20em;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .nav-bar {

        flex-direction: column;
        text-align: center;
    }


    .catalog {
        margin-top: 0.5rem;
    }

    h1 {
        font-size: 2rem;
        white-space: nowrap;
    }

    .slogan {
        padding: 2rem;
    }

    h2 {
        font-style: normal;
        padding-top: 30vw;
        font-size: 2rem;
        word-spacing: 0.2rem;
        letter-spacing: 0.2rem;
    }

    .text-under-h2 {
        line-height: 1.2rem;
    }
}